# macOS system files
.DS_Store

# Xcode build files and settings
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xcuserdatad
*.xcodeproj/project.xcworkspace/GoogleService-Info.plist
Other/GoogleService-Info.plist
